.header__logo {
  width: 160px;
  height: 50px;
  align-self: center;

  background: black url(../../../images/GIPHY\ Logo\ 300px.png) no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 120px;
    height: 40px;
  }
}
