*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page {
  max-width: 1360px;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 30px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #eef0f5;
  color: #5685ff;


  font-family: Roboto, Arial, Helvetica,sans-serif;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 0 20px;
  }


}
