.header__link {
  width: 190px;

  display: block;
  text-decoration: none;

  color: #5685ff;
}

.header__link_active {
  color: #ef64d9;
}

@media screen and (max-width: 480px) {
  .header__link {
    width: 120px;
  }
}
