
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.form__input {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  background: #eef0f5;
  box-shadow: inset -3px -3px 4px  rgba(255, 255, 255, 0.8), inset 2px 2px 5px rgba(166, 180, 200, 0.7);
}

.form__button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #eef0f5;
  box-shadow: inset 3px 3px 4px  rgba(255, 255, 255, 0.8), inset -3px -3px 5px rgba(166, 180, 200, 0.7);
}

.form__button_type_search {
  background-image: url('../../images/search.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.form__button_type_reset {
  background-image: url('../../images/close.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.elements {
  padding: 30px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.elements__item {
  width: 100%;
  border-radius: 5px;

}

.elements__giphy {
  width: 100%;
  border: none;
  background: #eef0f5;
}

.content {
  display: none;
}

.content_active {
  display: block;
}
