@import url(../vendor/normalize.css);

/* @import url(../vendor/fonts/fonts.css); */

@import url(../blocks/page/page.css);

@import url(../blocks/button/button.css);

@import url(../blocks/header/header.css);

@import url(../blocks/contain/contain.css);

@import url(../blocks/footer/footer.css);
