.header__controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;


  list-style: none;
}

@media screen and (max-width: 900px) {
  .header__controls {
    justify-content: space-evenly;
  }

}
