.header {
  width: 100%;
  padding: 30px 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 1100px ) {
  .header {
    flex-direction: column;
  }
}
